body {
  font-family: sans-serif;
  font-size:110%;
  background-color: #e8e8e8;
  padding: 1rem;
  background-image: url(../Images/bridge-image.jpg);
}

header {
  text-align: center;
  color: white;
  background-color: #343330;
  padding: 2rem;
  border-radius: 25px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  background-color: #343330;
  border-radius: 25px;
}

#sidebar {
    background-color: teal;
    padding: 2rem;
    border-radius: 25px;
}
#menu{
    color: white;
    background-color: rgb(0, 80, 80);
    text-align: center;
}
#contact-details {
    color: white;
    background-color:#343330 ;
}
   
#profilephoto {
    width: 20%;
    height: 50%;
    border-radius: 49%;
    border: 3px solid orange;
}
.icons {
    width: 3rem;
    margin: 2rem;
    height: auto;
}
.main {
    display: flex;
    flex-direction: row;
    overflow: unset;
}
#linkedin-icon, #facebook-icon {
    border-radius: 50%;
    border: 3px solid orange;  
}
#gmail-icon{
    border-radius: 20%;
    border: 3px solid orange;  
}
#contents{
    margin-left: 20px;
    background-color:lightgrey;
    border-radius: 25px;
    padding: 2rem;
}
h2{
    background-color:darkgrey;
    border-radius: 25px;
    padding: 1rem;
}
#grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    background-color: aqua;
    padding: 10px;
    margin-left: 20px;
}
#grid-container > div{
    background-color: blue;
    text-align: center;
    font-size: 30px;
    padding: 50vh 0;
}
.content{
    display: inline-block;
    width: 30%;
    margin: 5px
}
@media screen and (max-width:768px) {
    .content{
        display: inline-block;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
    #grid-container{
        width: 90%;
    }

}
@media screen and (max-width:600px) {
    .content{
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}